body {
    background-color: rgb(2, 0, 102);
}

h1 {
    font-size: 50px;
    text-align: center;
    color: white;
}

section {
    background-color: white;
    margin: auto;
    width: 35vw;
    min-height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
    margin: auto;
    margin-top: auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

section > p {
    text-align: center;
}

p {
    text-align: center;
}